
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #3362ff;
    color: white;
    font-family: 'Source Code Pro', monospace;
    min-height: 100vh;
    align-items: right;
    justify-content: right;
}

header {
    font-size: 3.5rem;
    display: flex;
    justify-content: right;
    align-items: right;

}

a {
    color: white;
    text-decoration: none;
}

img {
    justify-content: right;
    align-items: right;
}
