
*{
    margin: 0;
    padding: 1.5rem;
    box-sizing: border-box;
}


body {
    background-color: #3778D0;
    color: white;
    font-family: 'Source Code Pro', monospace;
    min-height: 100vh;
    justify-content: right;
}

header {
    font-size: 3.5rem;
    display: flex;
    justify-content: right;


}

a {
    color: white;
    text-decoration: none;
}

img {
    justify-content: right;
}

#BOSD {
    justify-content: right;
    align-items: center;
}
